{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('category') }}">Categories</a></li>
<li><a href="{{ path('category_show', { 'id' : entity.id }) }}">Current Category</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('sitemap', 'page-header-icon') }} Edit Category</h1>
</div>

{{ form_start(edit_form, {'action': path('category_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.name) }}
		</div>
		
		<div class="col-md-5">
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(edit_form.save) }}
				<a href="{{ path('category_show', { 'id' : entity.id }) }}" class="btn btn-default btn-outline">Back</a>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}