{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Total Chain Average Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-md-10">
				<h1>{{ FAIcon('folder', 'page-header-icon') }} Total Chain Average Report</h1>
				<p>Shows average grade of total chain for each SKU.</p>
			</div>
			
			{% if params %}
				{% set exportParams = { 'ci_inventorybundle_frequencyvsokreportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
										'ci_inventorybundle_frequencyvsokreportfilter[dateTo]' : params.dateTo|date('m/d/Y') } %}
				
				
				{% if params.rsm is defined and params.rsm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[rsm]' : params.rsm.id }) %}
				{% endif %}
				
				{% if params.cdm is defined and params.cdm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[cdm]' : params.cdm.id }) %}
				{% endif %}
				
				{% if params.tl is defined and params.tl %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[tl]' : params.tl.id }) %}
				{% endif %}
				
				{% if params.diser is defined and params.diser %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[diser]' : params.diser.id }) %}
				{% endif %}
				
				{% if params.productClassification %}
					{% for pc in params.productClassification %}
						{% set exportParams = exportParams | merge({ ('ci_inventorybundle_frequencyvsokreportfilter[productClassification][' ~ loop.index0 ~ ']') : pc }) %}
					{% endfor %}
				{% endif %}
				
				{#{% if params.chainClassification %}
					{% for cc in params.chainClassification %}
						{% set exportParams = exportParams | merge({ ('ci_inventorybundle_frequencyvsokreportfilter[chainClassification][' ~ loop.index0 ~ ']') : cc }) %}
					{% endfor %}
				{% endif %}#}
				
				{% if params.chain %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[chain]' : params.chain.id }) %}
				{% endif %}
				
				{% if params.region %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[region]' : params.region.id }) %}
				{% endif %}
				
				{% if params.store %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[store]' : params.store.id }) %}
				{% endif %}
				
				{% if params.category %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[category]' : params.category.id }) %}
				{% endif %}
				
				{% if params.product %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[product]' : params.product.id }) %}
				{% endif %}
				
                                {% if params.storeClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_frequencyvsokreportfilter[storeClassification]' : params.storeClassification }) %}
				{% endif %}
                                
				<div class="col-md-2">
					<a class="btn btn-default btn-labeled btn-sm pull-right" href="{{ path('get_frequency_vs_ok_report_export_xls', exportParams) }}">{{ FAIcon('file-excel-o', 'btn-label') }} Export to XLS</a> 
				</div>
			{% endif %}
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('get_frequency_vs_ok_report'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{% if search_form.rsm is defined %}
						{{ form_row(search_form.rsm) }}
					{% endif %}
					{% if search_form.cdm is defined %}
						{{ form_row(search_form.cdm) }}
					{% endif %}
					{% if search_form.tl is defined %}
						{{ form_row(search_form.tl) }}
					{% endif %}
					{% if search_form.diser is defined %}
						{{ form_row(search_form.diser) }}
					{% endif %}
					{{ form_row(search_form.category) }}
					{{ form_row(search_form.product) }}
                                   	{{ form_row(search_form.productClassification) }}     
                                        
					
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
                                    {{ form_row(search_form.chain) }}
                                        {{ form_row(search_form.region) }}
					{{ form_row(search_form.store) }}
				    {{ form_row(search_form.storeClassification) }}
{#					{{ form_row(search_form.chainClassification) }}#}
                                    
					
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
					{{ form_row(search_form.search) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		<br/>
		
		{% if params and results|length > 0 %}
			<div class="table-responsive">
				<table id="frequency-vs-ok" class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">Category</th>
							<th class="col-md-4">Product</th>
							<th class="col-md-2 text-center">Total</th>
							<th class="col-md-2 text-center">Ok</th>
							<th class="col-md-2 text-center">%</th>
						</tr>
					</thead>
					<tbody>
					{% for result in results %}
						<tr>
							<td>{{ result.categoryName }}</td>
							<td>{{ result.productName }}</td>
							<td class="text-right">{{ result.totalVisit|default(0)|number_format }}</td>
							<td class="text-right">{{ result.totalAvailable|default(0)|number_format }}</td>
							<td class="text-right">{{ result.percentage|default(0) }}%</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% elseif params %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});
});

$( document ).ready( function() {
	 $( "#frequency-vs-ok" ).DataTable({
		"scrollX" : true,
		"pageLength" : 30,
		"searching" : false,
		"lengthChange" : false,
		"pagingType" : "full_numbers"
	});
});
</script>
{% endblock %}