{% extends 'CICoreBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
	<h1>Change Status Confirmation</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="{{ path(target_route, { 'id': change_status_form.vars.value.id }) }}" method="POST" {{ form_enctype(change_status_form) }} class="form-horizontal">
			<input type="hidden" name="_method" value="PUT" />	
			{{ form_widget(change_status_form.id) }}
			{{ form_widget(change_status_form.status) }}
			<p>Are you sure you want to change the status of <strong>{{ name }}</strong> to <strong><em>{{ status == 'active' ? 'enabled' : 'disabled' }}</em></strong>?<br/><br/></p>					
			<button type="submit" class="btn btn-danger">Set {{ status == 'active' ? 'enabled' : 'disabled' }}</button>
			{{ form_widget(change_status_form._token) }}
			
			<a href="{{ path(return_route, { 'id': change_status_form.vars.value.id }) }}" class="btn btn-default">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}