{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Device:macro.html.twig' as macro %}

{% block breadcrumbs %}
<li>Devices</li>
<li class="active">List</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('mobile', 'page-header-icon') }} Devices</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('device_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('device') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		{{ macros.searchFilter(search_form, 'device') }}
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'd.name', 'Name') }}</th>
							<th class="col-md-3">Description</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'd.deviceId', 'Device ID') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'pic.firstName', 'Assigned User') }}</th>
							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'd.active', 'Status') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('device_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('device_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{{ macro.changeStatus('device_confirm_change_status', entity) }}
										{{ macros.delete('device_confirm_delete', entity) }}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('device_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderNewTag }} {{ entity|renderUpdatedTag }}</td>
							<td>{{ entity.description|nl2br }}</td>
							<td>{{ entity.deviceId }}</td>
							<td>{{ entity.personInCharge.roleLabel }}</td>
							<td>{{ macro.renderEnabledTag(entity) }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}