{% if options.class is defined %}
	{% if options.class == 'asc' %}
		<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}><span class="glyphicon glyphicon-chevron-up"></span></a> {{ title }}
	{% elseif options.class == 'desc' %}
		<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}><span class="glyphicon glyphicon-chevron-down"></span></a> {{ title }}
	{% else %}
		<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}</a>
	{% endif %}
{% endif %}
