{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Admin</li>
<li class="active">User Audit Logs</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="pull-right">
		<a href="{{ path("user_show", { 'id': entity.id }) }}" class="btn" title="Back">{{ FAIcon('chevron-right') }}</a>
	</div>
	<h1>{{ FAIcon('info', 'page-header-icon') }} User <small>ID# {{ entity.id }} 
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-12">User Audit Logs</th>
			</tr>
		</thead>
		<tbody>
		{% for log in logs %}
          	{% set ref, logEntry = '', log %}
			
			{% if logEntry.data %}
				<tr>
					<td><em>{{ logEntry.username }}</em> {{ logEntry.action }}d {{ ref }}
					{% for key, value in logEntry.data %}
					
						{% set key_pieces = key|preg_split('/(?=[A-Z])/') %}
						{% set data = '<strong>' ~ key_pieces|join(' ')|title ~ ':</strong> ' %}
						
						{% if key == 'birthDate' %}
							{% set data = data ~ value|date('m-d-Y') %}
						{% else %}
							{% set data = data ~ value|default('None') %}
						{% endif %}
						{{ data|raw }}{% if not loop.last %}, {% endif %}
						
					{% endfor %}
					in {{ logEntry.loggedat|date('F d, Y \\a\\t g:i:s a') }}.
					</td>
				</tr>
			{% endif %}
		{% else %}
			<tr>
				<td>No user audit logs available.</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}