{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Admin</li>
<li class="active">Activity Logs</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('info', 'page-header-icon') }} Activity Logs</h1>
		</div>
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-12">Logs</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						{% set link = entity.name %}
						{% if pathExists(entity.routeName) %}
							{% set link = "<a href='" ~ path(entity.routeName, {'id':entity.entityId}) ~ "'>" ~ entity.name ~ "</a>" %}
						{% endif %}
						<tr>
							<td>
								<strong>{{ entity.user }}</strong> has <strong>{{ entity.action ~ 'd' }}</strong> {{ entity.classDisplay }} <strong>{{ link|raw }}</strong>. <small class="text-muted timeago" title="{{ entity.timestamp|date('F d, Y g:i:s a') }}">{{ entity.timestamp|date('F d, Y \\a\\t g:i:s a') }}</small>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No logs.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}