{% extends "CICoreBundle::layout.html.twig" %}

{% block breadcrumbs %}
<li>Admin</li>
<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
<li class="active"><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
{% endblock %}

{% block fos_user_content %}
{% include "CICoreBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
