{% extends 'CICoreBundle:Security:login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_login %}
<div class="signin-container">
	<!-- Left side -->
	<div class="signin-info">
		<a href="{{ path("welcome") }}" class="logo text-center" style="display: block">
			<span>ISCI</span>
		</a> <!-- / .logo -->
		<div class="slogan text-center">
		    <small>Intelligent Skin Care Inc</small>
		</div> <!-- / .slogan -->
	</div>
	<!-- / Left side -->
	
	<!-- Right side -->
	<div class="signin-form">
		<div class="header">
			<div class="signin-text">
				<span>Password Requested</span>
			</div> 
		</div>
			
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
	</div>
	<!-- Right side -->
</div>
{% endblock %}



