{% extends 'CICoreBundle:Security:login.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_login %}
<div class="signin-container">
	<!-- Left side -->
	<div class="signin-info">
		<a href="{{ path("welcome") }}" class="logo text-center" style="display: block">
			<span>ISCI</span>
		</a> <!-- / .logo -->
		<div class="slogan text-center">
		    <small>Intelligent Skin Care Inc</small>
		</div> <!-- / .slogan -->
	</div>
	<!-- / Left side -->
	
	<!-- Right side -->
	<div class="signin-form">
		<div class="header">
			<div class="signin-text">
				<span>Password Reset</span>
			</div> 
		</div>
		
		<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
		    {{ bootstrap_set_style('horizontal') }}
			{{ bootstrap_set_label_col(4) }}
			{{ bootstrap_set_widget_col(8) }}
			<div class="row">
				{{ form_row(form.plainPassword) }}
				
				<div class="form-group form-actions">
					<div class="col-lg-offset-4 col-lg-10">
						<input class="btn submit-button" data-loading-text="Saving..." type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
					</div>
				</div>
			</div>
		    
		    {{ form_widget(form._token) }}
		</form>
	</div>
	<!-- Right side -->
</div>
{% endblock %}



