{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Inventory Report123</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-md-10">
				<h1>{{ FAIcon('folder', 'page-header-icon') }} Inventory Report</h1>
				<p>Shows quantity or inventory of SKUs in accounts.</p>
			</div>
			
			{% if params %}
				{% set exportParams = {} %}
				
				{% if params.rsm is defined and params.rsm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[rsm]' : params.rsm.id }) %}
				{% endif %}
				
				{% if params.cdm is defined and params.cdm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[cdm]' : params.cdm.id }) %}
				{% endif %}
				
				{% if params.tl is defined and params.tl %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[tl]' : params.tl.id }) %}
				{% endif %}
				
				{% if params.diser is defined and params.diser %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[diser]' : params.diser.id }) %}
				{% endif %}
				
				{#{% if params.productClassification %}
					{% for pc in params.productClassification %}
						{% set exportParams = exportParams | merge({ ('ci_inventorybundle_inventoryreportfilter[productClassification][' ~ loop.index0 ~ ']') : pc }) %}
					{% endfor %}
				{% endif %}#}
				
				{#{% if params.reportId %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[reportId]' : params.reportId }) %}
				{% endif %}#}
				
				{% if params.deviceId %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[deviceId]' : params.deviceId }) %}
				{% endif %}
				
				{% if params.store %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[store]' : params.store.id }) %}
				{% endif %}
				
				{% if params.product %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[product]' : params.product.id }) %}
				{% endif %}
				
				{% if params.dateFrom %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[dateFrom]' : params.dateFrom|date('m/d/Y') }) %}
				{% endif %}
				
				{% if params.dateTo %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[dateTo]' : params.dateTo|date('m/d/Y') }) %}
				{% endif %}

				{% if params.storeClassification %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[storeClassification]' : params.storeClassification }) %}
					{% endif %}
                                        
                                       {# {% if params.chainClassification %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_inventoryreportfilter[chainClassification]' : params.chainClassification }) %}
					{% endif %}#}
                                        
                                        
				
				<div class="col-md-2">
					<a class="btn btn-default btn-labeled btn-sm pull-right" href="{{ path('inventoryreport_export_xls', exportParams) }}">{{ FAIcon('file-excel-o', 'btn-label') }} Export to XLS</a> 
				</div>
			{% endif %}
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('inventoryreport'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{% if search_form.rsm is defined %}
						{{ form_row(search_form.rsm) }}
					{% endif %}
					{% if search_form.cdm is defined %}
                                            {{ form_row(search_form.cdm) }}
					{% endif %}
					{% if search_form.tl is defined %}
						{{ form_row(search_form.tl) }}
					{% endif %}
					{% if search_form.diser is defined %}
						{{ form_row(search_form.diser) }}
					{% endif %}
                                         {{ form_row(search_form.chain) }}
{#                                        {{ form_row(search_form.productClassification) }}#}
                                        
				
                                       
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
{#                                    	{{ form_row(search_form.reportId) }}#}
					{{ form_row(search_form.deviceId) }}
					{{ form_row(search_form.store) }}
					{{ form_row(search_form.product) }}					
					{{ form_row(search_form.storeClassification) }}
{#                                        {{ form_row(search_form.chainClassification) }}#}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination and pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
{#							<th class="col-md-1">{{ utils.sortableTableHeader(pagination, 'ir.id', 'Report ID') }}</th>#}
{#							<th class="col-md-1">Device ID</th>#}
                                                       <th class="col-md-2">Chain</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 's.name', 'Branch') }}</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'ir.reportDate', 'Dates (Sorts Report Date)') }}</th>
							<th class="col-md-1">Username</th>
							<th class="col-md-4">Product</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in pagination %}
						<tr>
{#							<td>{{ entity.id }}</td>#}
{#							<td>{{ entity.device.deviceId }}</td>#}
                                                            <td>{{ entity.store.chain.name }}</td>
							<td>
								{{ entity.store.name }}
								{% if entity.path %}<a href="{{ asset(entity.webPath) }}" class="btn btn-outline btn-default btn-xs" target="__blank">{{ FAIcon('paperclip') }}</a>{% endif %}
								{% if entity.note %}<br><small class="text-muted">{{ entity.note|nl2br }}</small>{% endif %}
							</td>
							<td>
								Report Date: <strong class="pull-right">{{ utils.formatDate(entity.reportDate) }}</strong><br>
								Creation Date: <strong class="pull-right">{{ utils.formatDate(entity.reportCreationDate) }}</strong><br>
								Upload Date: <strong class="pull-right">{{ utils.formatDate(entity.createdAt) }}</strong>
								{% if entity.reportLastUpdatedDate %}<br>Last Updated Date: <strong class="pull-right">{{ utils.formatDate(entity.reportLastUpdatedDate) }}</strong>{% endif %}
							</td>
{#							<td>{{ entity.createdBy }}</td>#}
							<td>{{ entity.device.personInCharge.username }}</td>
                                                    
                                                      

							<td>
								<ul>
								{% for item in entity.items %}
									{% set product = item.path ? '<a href="' ~ asset(item.getWebPath) ~ '" target="__blank">' ~ item.product.name ~ '</a>' : item.product.name %}
									<li>
										{{ product|raw }}<br>
										<small class="text-muted">Available: {{ item.available ? 'Yes' : 'No' }} - Count: {% if item.count %}{{ item.count|decimal(2) }}{% else %}No Input{% endif %}</small>
										{% if item.note %}<br><small class="text-muted">{{ item.note|nl2br }}</small>{% endif %}
									</li>
								{% endfor %}
								</ul>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% elseif params %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});
        $( ".input-group.date" ).on('change',function(){
            var from = new Date($('#ci_inventorybundle_inventoryreportfilter_dateFrom').val());
            var to = new Date($('#ci_inventorybundle_inventoryreportfilter_dateTo').val());
            
         if(to < from)
         {
         $('#ci_inventorybundle_inventoryreportfilter_dateTo').val('');
         }

        });
});
</script>
{% endblock %}