{% extends "CICoreBundle::layout.html.twig" %}

{% block breadcrumbs %}
<li>Admin</li>
<li><a href="{{ path('user') }}">Users</a></li>
<li class="active"><a href="#">Add New User</a></li>
{% endblock %}

{% block fos_user_content %}
	{% include "CICoreBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
<script>
$(document).ready(function(){
	var date = new Date();
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
		endDate: new Date(date.getFullYear() - 10, date.getMonth(), date.getDate())
	});
});  
</script>
{% endblock %}