{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li><a href="{{ path('store') }}">Branches</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('store_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('store_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('store_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.changeStatus('store_confirm_change_status', entity) }}
			{{ macros.delete('store_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Branch ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('home', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row profile">
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>RSM</th>
					<td>{{ entity.rsm.name }}</td>
				</tr>
				<tr>
					<th>CDM</th>
					<td>{% if entity.cdm %}{{ entity.cdm.name }}{% else %}<em>None</em>{% endif %}</td>
				</tr>
				<tr>
					<th>TL</th>
					<td>{% if entity.tl %}{{ entity.tl.name }}{% else %}<em>None</em>{% endif %}</td>
				</tr>
				<tr>
					<th>Diser</th>
					<td>{{ entity.diser.name }}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{{ entity.address|nl2br }}</td>
				</tr>
				<tr>
					<th>Contact Details</th>
					<td>{{ entity.contactDetails|nl2br }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-5">City</th>
					<td>{{ entity.city.name }}</td>
				</tr>
				<tr>
					<th>Distributor</th>
					<td>{{ entity.distributor.name }}</td>
				</tr>
				<tr>
					<th>Chain</th>
					<td>{{ entity.chain.name }}</td>
				</tr>
				<tr>
					<th>Region</th>
					<td>{{ entity.region.name }}</td>
				</tr>
				<tr>
					<th>Store Type</th>
					<td>{{ entity.storeType.name }}</td>
				</tr>
                                <tr>
					<th>OSA Tracked</th>
					<td>{% if entity.isOsaTracked %}Yes{% else %}No{% endif %}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}