{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('product') }}">Products</a></li>
<li><a href="{{ path('product_show', { 'id' : entity.id }) }}">Current Product</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} Edit Product</h1>
</div>

{{ form_start(edit_form, {'action': path('product_update', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.name) }}
			{{ form_row(edit_form.description) }}
			{{ form_row(edit_form.refCode) }}
			{{ form_row(edit_form.size) }}
			{{ form_row(edit_form.category) }}
			{{ form_row(edit_form.isCore) }}
			{{ form_row(edit_form.isNpd) }}
			{{ form_row(edit_form.isSeasonal) }}
			{{ form_row(edit_form.isOsaTracked) }}
			{{ form_row(edit_form.stores) }}
		</div>
		
		<div class="col-md-5">
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(edit_form.save) }}
				<a href="{{ path('product_show', { 'id' : entity.id }) }}" class="btn btn-default btn-outline">Back</a>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}