{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Inventory</li>
<li>Products</li>
<li class="active">List</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} Product</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('product_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('product') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('product'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.status, {'widget_col' : 4}) }}
					{{ form_row(search_form.category) }}
					{{ form_row(search_form.name) }}
					{{ form_row(search_form.refCode) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.isCore, {'widget_col' : 3}) }}
					{{ form_row(search_form.isNpd, {'widget_col' : 3}) }}
					{{ form_row(search_form.isOsaTracked, {'widget_col' : 3}) }}
					{{ form_row(search_form.isSeasonal, {'widget_col' : 3}) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-1">Actions</th>
							<th class="col-md-3">{{ utils.sortableTableHeader(pagination, 'p.name', 'Name') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'c.name', 'Category') }}</th>
							<th class="col-md-2">{{ utils.sortableTableHeader(pagination, 'p.refCode', 'Code') }}</th>
							<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'p.isCore', 'Core') }}</th>
							<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'p.isNpd', 'NPD') }}</th>
							<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'p.isSeasonal', 'Seasonal') }}</th>
							<th class="col-md-1 text-center">{{ utils.sortableTableHeader(pagination, 'p.isOsaTracked', 'Promo Packs') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('product_show', { 'id':entity.id }) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('product_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{{ macros.changeStatus('product_confirm_change_status', entity) }}
										{{ macros.delete('product_confirm_delete', entity) }}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('product_show', {'id':entity.id}) }}">{{ entity.name }}</a> {{ entity|renderActiveTag }}</td>
							<td>{{ entity.category.name }}</td>
							<td>{{ entity.refCode }}</td>
							<td class="text-center">{% if entity.isCore %}Yes{% else %}No{% endif %}</td>
							<td class="text-center">{% if entity.isNpd %}Yes{% else %}No{% endif %}</td>
							<td class="text-center">{% if entity.isSeasonal %}Yes{% else %}No{% endif %}</td>
							<td class="text-center">{% if entity.isOsaTracked %}Yes{% else %}No{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}