{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('product') }}">Products</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} New Product</h1>
</div>

{{ form_start(form, {'action': path('product_create'), 'method': 'POST', 'attr': {'class': 'form-horizontal', 'novalidate':'novalidate'} }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.name) }}
			{{ form_row(form.description) }}
			{{ form_row(form.refCode) }}
			{{ form_row(form.size) }}
			{{ form_row(form.category) }}
			{{ form_row(form.isCore) }}
			{{ form_row(form.isNpd) }}
			{{ form_row(form.isSeasonal) }}
			{{ form_row(form.isOsaTracked) }}
			{{ form_row(form.stores) }}
		</div>
		
		<div class="col-md-5">
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-actions">
				{{ form_widget(form.save) }}
				<a href="{{ path('product') }}" class="btn btn-default btn-outline">Back</a>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}