{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Inventory</li>
<li><a href="{{ path('product') }}">Products</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('product_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('product_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('product_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.changeStatus('product_confirm_change_status', entity) }}
			{{ macros.delete('product_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Product ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('shopping-cart', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row profile">
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-5">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ entity.description }}</td>
				</tr>
				<tr>
					<th>Code</th>
					<td>{{ entity.refCode }}</td>
				</tr>
				<tr>
					<th>Size</th>
					<td>{{ entity.size }}</td>
				</tr>
				<tr>
					<th>Category</th>
					<td><a href="{{ path('category_show', {'id':entity.category.id}) }}">{{ entity.category.name }}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-3">Core</th>
					<td>{% if entity.isCore %}Yes{% else %}No{% endif %}</td>
				</tr>
				<tr>
					<th>NPD</th>
					<td>{% if entity.isNpd %}Yes{% else %}No{% endif %}</td>
				</tr>
				<tr>
					<th>Seasonal</th>
					<td>{% if entity.isSeasonal %}Yes{% else %}No{% endif %}</td>
				</tr>
				<tr>
					<th>OSA Tracked</th>
					<td>{% if entity.isOsaTracked %}Yes{% else %}No{% endif %}</td>
				</tr>
				<tr>
					<th>Branches</th>
					<td>
						<ul>
						{% for store in entity.stores %}
							<li><a href="{{ path('store_show', {'id':store.id}) }}">{{ store.name }}</a></li>
						{% endfor %}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}