{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/lib/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Branch Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-md-10">
				<h1>{{ FAIcon('file', 'page-header-icon') }} Branch Report</h1>
				<p>Shows details of visit for each branch.</p>
			</div>
			{% if params %}
				{% set exportParams = { 'ci_inventorybundle_branchosareportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
										'ci_inventorybundle_branchosareportfilter[dateTo]' : params.dateTo|date('m/d/Y') } %}
				
				{% if params.region %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_branchosareportfilter[region]' : params.region.id }) %}
				{% endif %}
				
				{% if params.chain %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_branchosareportfilter[chain]' : params.chain.id }) %}
				{% endif %}
				
				{% if params.store %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_branchosareportfilter[store]' : params.store.id }) %}
				{% endif %}
				
				{% if params.product %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_branchosareportfilter[product]' : params.product.id }) %}
				{% endif %}
				
				{% if params.productClassification %}
					{% for pc in params.productClassification %}
						{% set exportParams = exportParams | merge({ ('ci_inventorybundle_branchosareportfilter[productClassification][' ~ loop.index0 ~ ']') : pc }) %}
					{% endfor %}
				{% endif %}
                                
                               {# {% if params.chainClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_branchosareportfilter[chainClassification]' : params.chainClassification }) %}
				{% endif %}#}
                                
                                {% if params.storeClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_branchosareportfilter[storeClassification]' : params.storeClassification }) %}
				{% endif %}
                                
				
				<div class="col-md-2">
					<a class="btn btn-default btn-labeled btn-sm pull-right" href="{{ path('storereport_branchosa_export_xls', exportParams) }}">{{ FAIcon('file-excel-o', 'btn-label') }} Export to XLS</a> 
				</div>
			{% endif %}
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('storereport_branchosa'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.region) }}
					{{ form_row(search_form.chain) }}
					{{ form_row(search_form.store) }}
					{{ form_row(search_form.product) }}
				
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
                                    {{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
{#                                          {{ form_row(search_form.chainClassification) }}#}
                                        {{ form_row(search_form.storeClassification) }}
                                    	{{ form_row(search_form.productClassification) }}
                                      
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if data %}
			<span><strong>Diser : {{ params.store.diser.name }}</strong></span>
			<div class="table-responsive">
				<table id="data-table" class="display table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">Category</th>
							<th class="col-md-2">Product</th>
							<th class="col-md-1">Total</th>
							<th class="col-md-1">Ok</th>
							<th class="col-md-1 text-center">%Ok</th>
							{% for report in data.label %}
							<th class="col-md-1">{{ utils.formatDate(report, 'n/j') }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for product in data.products %}
						<tr>
							<td>{{ product.categoryName }}</td>
							<td>{{ product.productName }}</td>
							<td>{{ product.daysVisited }}</td>
							<td>{{ product.okCount }}</td>
							<td class="text-center">{{ (product.okCount / product.daysVisited * 100)|decimal(0)|default }}%</td>
							{% for key, report in data.label %}
							<td>{{ product.reports[key] is defined ? product.reports[key] : 'N/A' }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% elseif params %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/lib/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/lib/dataTables/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/branch_report.js') }}"></script>
<script type="text/javascript">
$(function() {
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});

	{% if params %}
		$( "#data-table" ).DataTable({
			"order": [[ 1, 'asc' ]],
			"scrollX" : true,
			"pageLength" : 30,
			"searching" : false,
			"lengthChange" : false,
			"pagingType" : "full_numbers"
		});
	{% endif %}
});
</script>
{% endblock %}