{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Stock Availability Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-md-10">
				<h1>{{ FAIcon('folder', 'page-header-icon') }} Stock Availability Report</h1>
				<p>Master OSA report. Includes all tabs.</p>
			</div>
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('get_download_osa'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{% if search_form.rsm is defined %}
						{{ form_row(search_form.rsm) }}
					{% endif %}
					{% if search_form.cdm is defined %}
						{{ form_row(search_form.cdm) }}
					{% endif %}
					{% if search_form.tl is defined %}
						{{ form_row(search_form.tl) }}
					{% endif %}
					{% if search_form.diser is defined %}
						{{ form_row(search_form.diser) }}
					{% endif %}
                                      {#  {{ form_row(search_form.store) }} #}
                                      {{ form_row(search_form.productClassification) }}
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					   {{ form_row(search_form.region) }}
					{{ form_row(search_form.chain) }}
                                        {{ form_row(search_form.storeClassification) }}
{#                                         {{ form_row(search_form.chainClassification) }}#}
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		<br/>
		
		{% if params %}
			<div class="row">
				<div class="col-md-12">
					{% set exportParams = { 'ci_inventorybundle_downloadosafilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
											'ci_inventorybundle_downloadosafilter[dateTo]' : params.dateTo|date('m/d/Y') } %}
					
					{% if params.rsm is defined and params.rsm %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[rsm]' : params.rsm.id }) %}
					{% endif %}
					
					{% if params.cdm is defined and params.cdm %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[cdm]' : params.cdm.id }) %}
					{% endif %}
					
					{% if params.tl is defined and params.tl %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[tl]' : params.tl.id }) %}
					{% endif %}
					
					{% if params.diser is defined and params.diser %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[diser]' : params.diser.id }) %}
					{% endif %}
					
					{% if params.region %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[region]' : params.region.id }) %}
					{% endif %}
					
					{% if params.chain %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[chain]' : params.chain.id }) %}
					{% endif %}
                                        
                                        
					{% if params.storeClassification %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[storeClassification]' : params.storeClassification }) %}
					{% endif %}
                                        
                                       {# {% if params.chainClassification %}
						{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[chainClassification]' : params.chainClassification }) %}
					{% endif %}#}
                                       
                                        {% if params.productClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_downloadosafilter[productClassification]' : params.productClassification }) %}
                                        {% endif %}
					
					<div class="alert alert-success">
						<p>To download the Stock Availability Report, please click the "Download" button.
							<a class="btn btn-success btn-labeled btn-sm" href="{{ path('get_download_osa_export_xls', exportParams) }}">{{ FAIcon('download', 'btn-label')}}Download</a>
						</p>
					</div>
					 
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});
});
</script>
{% endblock %}