{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/lib/dataTables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">Summary Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<div class="col-md-10">
				<h1>{{ FAIcon('file', 'page-header-icon') }} Summary Report</h1>
				<p>Summary percentage of stores and sku's - no branch report included.</p>
			</div>
			{% if params %}
				{% set exportParams = { 'ci_inventorybundle_summaryosareportfilter[dateFrom]' : params.dateFrom|date('m/d/Y'),
										'ci_inventorybundle_summaryosareportfilter[dateTo]' : params.dateTo|date('m/d/Y') } %}
				
				{% if params.rsm is defined and params.rsm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[rsm]' : params.rsm.id }) %}
				{% endif %}
				
				{% if params.cdm is defined and params.cdm %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[cdm]' : params.cdm.id }) %}
				{% endif %}
				
				{% if params.tl is defined and params.tl %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[tl]' : params.tl.id }) %}
				{% endif %}
				
				{% if params.diser is defined and params.diser %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[diser]' : params.diser.id }) %}
				{% endif %}
				
				{% if params.chain %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[chain]' : params.chain.id }) %}
				{% endif %}
				
				{#{% if params.chainClassification %}
					{% for cc in params.chainClassification %}
						{% set exportParams = exportParams | merge({ ('ci_inventorybundle_summaryosareportfilter[chainClassification][' ~ loop.index0 ~ ']') : cc }) %}
					{% endfor %}
				{% endif %}#}
				
				{% if params.store %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[store]' : params.store.id }) %}
				{% endif %}
				
				{% if params.region %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[region]' : params.region.id }) %}
				{% endif %}
				
				{#{% if params.storeType %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[storeType]' : params.storeType.id }) %}
				{% endif %}#}
                                
                                {% if params.storeClassification %}
					{% set exportParams = exportParams | merge({ 'ci_inventorybundle_summaryosareportfilter[storeClassification]' : params.storeClassification }) %}
				{% endif %}
                                
				
				<div class="col-md-2">
					<a class="btn btn-default btn-labeled btn-sm pull-right" href="{{ path('storereport_summaryosa_export_xls', exportParams) }}">{{ FAIcon('file-excel-o', 'btn-label') }} Export to XLS</a> 
				</div>
			{% endif %}
		</div>
		
		<!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('storereport_summaryosa'), 'method': 'GET', 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{% if search_form.rsm is defined %}
						{{ form_row(search_form.rsm) }}
					{% endif %}
					{% if search_form.cdm is defined %}
						{{ form_row(search_form.cdm) }}
					{% endif %}
					{% if search_form.tl is defined %}
						{{ form_row(search_form.tl) }}
					{% endif %}
					{% if search_form.diser is defined %}
						{{ form_row(search_form.diser) }}
					{% endif %}
					{{ form_row(search_form.chain) }}
                                       		
                                    
                                     
					{{ form_row(search_form.search) }}
				</div>
				<div class="col-md-5">
					{{ form_row(search_form.region) }}
                                         {{ form_row(search_form.store) }}
{#					{{ form_row(search_form.storeType) }}	#}

{#                                        {{ form_row(search_form.productClassification) }}#}
                                        
                                        {{ form_row(search_form.storeClassification) }}
{#                                        {{ form_row(search_form.chainClassification) }}#}
                                      
					{{ form_row(search_form.dateFrom) }}
					{{ form_row(search_form.dateTo) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
		
		{% if data %}
			<div class="table-responsive">
				<table id="data-table" class="display table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">Account</th>
							<th class="col-md-2">Branch</th>
							<th class="col-md-1">Region</th>
{#							<th class="col-md-1">Store Type</th>#}
							{% for label in data.label %}
							<th class="col-md-1">{{ label.name }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for store in data.stores %}
						<tr>
							<td>{{ store.chain.name }}</td>
							<td>{{ store.name }}</td>
							<td>{{ store.region.name }}</td>
{#							<td>{{ store.storeType.name }}</td>#}
							{% for key, label in data.label %}
							<td class="text-right">{{ (data.products[store.id][key] is defined ? data.products[store.id][key] : 0) ~ '%' }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% elseif params %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="{{ asset('assets/lib/dataTables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/lib/dataTables/dataTables.bootstrap.min.js') }}"></script>
<script type="text/javascript">
$(function() {
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});

	{% if params %}
		$( "#data-table" ).DataTable({
			"order": [[ 1, 'asc' ]],
			"scrollX" : true,
			"pageLength" : 30,
			"searching" : false,
			"lengthChange" : false,
			"pagingType" : "full_numbers"
		});
	{% endif %}
});
</script>
{% endblock %}