{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('mobileapp_show') }}">Mobile App Settings</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('wrench', 'page-header-icon') }} Mobile App Settings</h1>
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('mobileapp_update'), 'method': 'PUT', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-7">
			{{ form_row(edit_form.appId) }}
			{{ form_row(edit_form.appSecret) }}
			{{ form_row(edit_form.appVersion) }}
			{{ form_row(edit_form.dataVersion) }}
			{{ form_row(edit_form.pin) }}
			{{ form_row(edit_form.file) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.save) }}
					<a href="{{ path('mobileapp_show') }}" class="btn btn-default btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
init.push(function () {
	$( ".custom-upload" ).pixelFileInput({ placeholder: "No file selected..." });
})
</script>
{% endblock javascripts %}