{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('mobileapp_show') }}">Mobile App Settings</a></li>
<li class="active">View</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('mobileapp_edit') }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('mobileapp_edit') }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('mobileapp_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
		</ul>
	</div>
	<h1>{{ FAIcon('wrench', 'page-header-icon') }} Mobile App Settings</h1>
</div>

<div class="row profile">
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-5">App ID</th>
					<td>{{ entity.appId }}</td>
				</tr>
				<tr>
					<th>App Secret</th>
					<td>{{ entity.appSecret }}</td>
				</tr>
				<tr>
					<th>App Version</th>
					<td>{{ entity.appVersion }}</td>
				</tr>
				<tr>
					<th>Data Version</th>
					<td>{{ entity.dataVersion }}</td>
				</tr>
				<tr>
					<th>PIN</th>
					<td>{{ entity.pin }}</td>
				</tr>
				<tr>
					<th>App</th>
					<td>{{ entity.fileName }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}