{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li><a href="{{ path((view_route ? view_route : route_prefix) ~ '_show', { 'id' : view_id ? view_id : return_id }) }}">{{ name }} ID #{{ return_id }}</a></li>
<li><a href="{{ path(route_prefix ~ '_revision', { 'id' : return_id }) }}">Revisions for {{ name }} ID #{{ return_id }}</a></li>
<li class="active">Log for {{ name }} ID #{{ return_id }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Log for {{ name }} <small class="muted">ID #{{ return_id }}</small></h1>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th class="col-md-12"><em>Date: {{ timestamp|date('F d, Y \\a\\t g:i:s A') }} by {{ username }}</em></th>
				</tr>
			</thead>
			<tbody>
				{% for item in logs %}
					{% set desc, hasDesc = '', 0 %}
					{% if item.action == 'INS' %}
						{% set desc = desc ~ '[Created]' %}
					{% elseif item.action == 'UPD' %}
						{% set desc = desc ~ '[Updated]' %}
					{% elseif item.action == 'DEL' %}
						{% set desc = desc ~ '[Removed]' %}
					{% endif %}
							
					{% for key, value in item.entity_changes %}
						{% set new_value, hasValue = '', 0 %}
						
						{% if item.action == 'INS' %}
							{% set new_value, hasValue = value.new, 1 %}
						{% elseif item.action == 'UPD' and (value.new != value.old) %}
							{% set new_value, hasValue = value.new, 1 %}
						{% elseif item.action == 'DEL' %}
							{% set new_value, hasValue = value.same, 1 %}
						{% endif %}
						
						{% if hasValue and not hasDesc %}
							{% set hasDesc = 1 %}
						{% endif %}
						
						{% if new_value.timestamp is defined %}
							{% set new_value = new_value|date('M. d, Y') %}
						{% endif %}
						
						{% if value.old %}
							{% set old_value = value.old %}
							
							{% if old_value.timestamp is defined %}
								{% set old_value = old_value|date('M. d, Y') %}
							{% endif %}
							
							{% set new_value = old_value ~ ' ' ~ FAIcon('long-arrow-right') ~ ' ' ~ (new_value ? new_value : '<em>(None)</em>')  %}
						{% endif %}
						
						{% if hasValue %}
							{%  set desc = desc ~ '<br/><strong>' ~ key ~ ': </strong>' ~ new_value %}
						{% endif %}
					{% endfor %}
					
					{% if hasDesc %}
						<tr>
							<td>{{ desc|raw }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}