{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('storetype') }}">Branch Types</a></li>
<li><a href="{{ path('storetype_show', { 'id' : entity.id }) }}">{{ entity.name }}</a></li>
<li class="active">Edit</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<small>Branch Type ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('flag', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

{% if form_errors(edit_form) is not empty %}
	{{ form_errors(edit_form) }}<br/>
{% endif %}

{{ form_start(edit_form, {'action': path('storetype_update', { 'id' : entity.id }), 'method': 'PUT', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(edit_form.name) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(edit_form.save) }}
					<a href="{{ path('storetype_show', { 'id': entity.id }) }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(edit_form) }}
{% endblock content %}