{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('storetype') }}">Branch Types</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('storetype_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('storetype_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('storetype_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.changeStatus('storetype_confirm_change_status', entity) }}
			{{ macros.delete('storetype_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Branch Type ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('flag', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row profile">
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					<th class="col-xs-3">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}