{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('chain') }}">Chains</a></li>
<li class="active">{{ entity.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<div class="btn-group pull-right btn-group-sm">
		<a href="{{ path('chain_edit', { 'id': entity.id }) }}" class="btn">{{ FAListIcon('pencil') }} Edit</a>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="{{ path('chain_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
			<li><a href="{{ path('chain_revision', { 'id': entity.id }) }}">{{ FAListIcon('info-circle') }} View Logs</a></li>
			{{ macros.changeStatus('chain_confirm_change_status', entity) }}
			{{ macros.delete('chain_confirm_delete', entity) }}
		</ul>
	</div>
	<small>Chain ID #{{ entity.id }}</small><br/>
	<h1>{{ FAIcon('chain', 'page-header-icon') }} {{ entity.name }}</h1>{{ entity|renderActiveTag }}
</div>

<div class="row profile">
	<div class="col-md-5">
		<table class="table table-no-border">
			<tbody>
				<tr>
					{% if not entity.isParent %}
						<th class="col-xs-3">Chain</th>
						<td>{{ entity.parent.name|default }}</td>
					{% else %}
						<th class="col-xs-3">Parent Chain</th>
						<td>{{ label_success('Yes') }}</td>
					{% endif %}
				</tr>
				<tr>
					<th class="col-xs-3">Name</th>
					<td>{{ entity.name }}</td>
				</tr>
				<tr>
					<th>Key Account</th>
					<td>{{ entity.isKeyAccount ? label_success('Yes') : label_danger('No') }}</td>
				</tr>
				<tr>
					<th>OSA Tracked</th>
					<td>{{ entity.isOsaTracked ? label_success('Yes') : label_danger('No') }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% include 'CIInventoryBundle:Misc:entityDateDetails.html.twig' with {'entity': entity } %}
{% endblock content %}