{% extends 'CICoreBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
	<h1>Change Status Confirmation</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="{{ path(target_route, { 'id': change_status_form.vars.value.id }) }}" method="post" {{ form_enctype(change_status_form) }} class="form-horizontal">
			<input type="hidden" name="_method" value="PUT" />	
			{{ form_widget(change_status_form.id) }}
			{{ form_widget(change_status_form.status) }}
			<p>Are you sure you want to change the status of <strong>{{ name }}</strong> to <strong><em>{{ status }}</em></strong>?<br/><br/></p>					
			<button type="submit" class="btn btn-danger">Set {{ status }}</button>
			{{ form_widget(change_status_form._token) }}
			
			{% set return_id = change_status_form.vars.value.id %}
			{% if alternate_return_id %}
				{% set return_id = alternate_return_id %}
			{% endif %}	
			
			<a href="{{ path(return_route, { 'id': return_id }) }}" class="btn btn-default">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}