{% extends 'CICoreBundle::layout.html.twig' %}

{% block content %}
	<div class="page-header">
		<h1>{% if params.action is defined %}{{ params.action }}{% else %}Delete{% endif %} Confirmation</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_start(delete_form, {'action': path(params.path, { 'id' : entity.id }), 'method': 'DELETE', 'attr': {'class': 'form-horizontal'} }) }}
				<div class="row">
					<div class="col-md-12">
						{{ form_widget(delete_form.id) }}
						<p>Are you sure you want to {% if params.action is defined %}{{ params.action|lower }}{% else %}delete{% endif %} <strong>{{ params.name }}</strong>?<br/><br/></p>
					</div>
				</div>
				<button type="submit" class="btn btn-danger submit-button" data-loading-text="Deleting...">{% if params.action is defined %}{{ params.action }}{% else %}Delete{% endif %}</button>
				
				{% set return_id = entity.id %}
				{% if params.return_entity is defined %}{% set return_id = params.return_entity.id %}{% endif %}
				<a href="{{ path(params.return_path, { 'id': return_id }) }}" class="btn btn-default">Cancel</a>
			{{ form_end(delete_form) }}
		</div>
	</div>
{% endblock %}