{% spaceless %}
<div class="row last-updated-date">
    <div class="col-md-12">
        <p>
        {% if entity.updatedAt and entity.createdAt != entity.updatedAt %}
    	<small class="text-muted">
    		<i>
    			Last updated {% if entity.updatedAt < date('now')|date_modify('-1 year') %}on {% endif %}
    			<span class="timeago" title="{{ entity.updatedAt|date('F d, Y g:i:s a') }}">{{ entity.updatedAt|date('F d, Y \\a\\t g:i:s a') }}</span> by {{ entity.updatedBy }}
    		</i>
    	</small>
    	<br/>
    	{% endif %}
    	<small class="text-muted">
    		<i>
    			Created {% if entity.createdAt < date('now')|date_modify('-1 year') %}on {% endif %}
    			<span class="timeago" title="{{ entity.createdAt|date('F d, Y g:i:s a') }}">{{ entity.createdAt|date('F d, Y \\a\\t g:i:s a') }}</span> by {{ entity.createdBy }}
    		</i>
    	</small>
    	<br/>
    	</p>
    </div>
</div>
{% endspaceless %}