{% macro changeStatus(path, entity, hideDivider) %}
    {% if hideDivider == false %}
    <li class="divider"></li>
	{% endif %}
	{% if entity.active %}
    	<li><a href="{{ path(path, { 'id': entity.id, 'status': constant('CI\\InventoryBundle\\Entity\\BaseEntity::STATUS_INACTIVE') }) }}">{{ FAListIcon('ban') }} Set Inactive</a></li>
    {% else %}
    	<li><a href="{{ path(path, { 'id': entity.id, 'status': constant('CI\\InventoryBundle\\Entity\\BaseEntity::STATUS_ACTIVE') }) }}">{{ FAListIcon('check') }} Set Active</a></li>
    {% endif %}
{% endmacro %}

{% macro delete(path, entity) %}
	<li><a href="{{ path(path, { 'id': entity.id }) }}">{{ FAListIcon('trash-o') }} Delete</a></li>
{% endmacro %}

{% macro productSearch(form) %}
<div class="modal fade" id="product-search-modal" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog modal-lg product-search-dialog animated fadeInDown">
		<div class="modal-content">
			{{ form_start(form, { 'action' : path('product_search'), 'method': 'POST', 'attr' : { 'class' : 'form-horizontal product-search-form', 'id' : 'product-search-form' } }) }}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Search for Products</h4>
				</div>
				<div class="modal-body modal-scrollable">
					<div class="row">
						<div class="col-md-12">
							{{ form_widget(form.category) }}
							{{ form_widget(form.query) }}
							{{ form_widget(form.search) }}
						</div>
					</div>
					<br/>
					<div id="product-search-result" class="row">
						<div class="col-md-12">
							<h5 class="result"></h5>
							<div class="alert no-result">
							    <p>No Results.</p>
							</div>
							<table class="table items table-hover">
							    <tbody>
							    </tbody>
                            </table>
						</div>
					</div>
				</div>
      
				<div class="modal-footer">
					<button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
				</div>
      		{{ form_end(form) }}
		</div>
	</div>
</div>
{% endmacro %}

{% macro searchFilter(search_form, path) %}
<div class="row search-filters">
	<div class="col-md-12">
		<form class="form-horizontal search-form" action="{{ path(path) }}" method="GET" {{ form_enctype(search_form) }} role="form">
	 		{{ bootstrap_set_style('horizontal') }}
	 		{{ bootstrap_set_label_col(4) }}
	 		<div class="row">
		 		<div class="col-md-5">
		 		    {{ form_row(search_form.query, { 'widget_col' : 8 }) }}
					{{ form_row(search_form.status, { 'widget_col' : 4 }) }}
					{{ form_widget(search_form._token) }}
					<div class="form-group row">
						<div class="col-lg-8 col-lg-offset-4">
							<button type="submit" class="btn btn-outline submit-button" data-loading-text="Searching...">Search</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endmacro %}

{% macro modalAlert(params) %}
<div id="modal-alert-danger" class="modal modal-alert modal-danger fade" tabindex="-1" role="dialog" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
	    	<div class="modal-header">
	        	<i class="fa fa-times-circle"></i>
	      	</div>
	      	<div class="modal-title">{{ params.title }}</div>
	      	<div class="modal-body">
	        	{{ params.body }}
	      	</div>
	      	<div class="modal-footer">
	      		<button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
		    </div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro createEntityPopup(form, entity, class, size, template) %}
<div class="modal fade" id="{{ class|lower }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ class|lower }}-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-{{ size|default('lg') }}">
    {% include template|default('CIInventoryBundle:' ~ class ~ ':' ~ class|lower ~ 'Popup.html.twig') with {'form' : form, 'entity' : entity} %}
  </div>
</div>
{% endmacro %}

{% macro paginationCount(pagination) %}
<p>Showing {{ pagination.getPaginationData['firstItemNumber']|number_format }} - {{ pagination.getPaginationData['lastItemNumber']|number_format }} of {{ pagination.getPaginationData['totalCount']|number_format }}</p>
{% endmacro %}

{% macro navListItem(name, icon, access, links) %}
<li class="mm-dropdown mm-dropdown-root">
	<a href="#">{{ FAIcon(icon, "menu-icon") }}<span class="mm-text">{{ name }}</span></a>
	<ul class="mmc-dropdown-delay animated fadeInLeft">
	{% if access|length > 0 %}
		{% for entry in access %}
			<li><a href="{{ links[entry].path }}"><span class="mm-text">{{ links[entry].label }}</span></a></li>
		{% endfor %}
	{% else %}
		{% for link in links %}
			<li><a href="{{ link.path }}"><span class="mm-text">{{ link.label }}</span></a></li>
		{% endfor %}
	{% endif %}
	</ul>
</li>
{% endmacro %}