<script type="text/ng-template" id="typeahead.template.html.twig">
	<a class="typeahead-anchor" ng-if="!match.model.isNoResult" ng-click="onSelectItem($item, $model, $label, key)">
		<span bind-html-unsafe="match.label | typeaheadHighlight:query" ng-click="onSelectItem($item, $model, $label, key)"></span>
	</a>

	<p class="search-no-results" ng-if="match.model.isNoResult" ng-bind="match.model.title"></p>
</script>