{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Settings</li>
<li class="active">Distributors</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ FAIcon('cube', 'page-header-icon') }} Distributors</h1>
			<div class="pull-right">
				<a class="btn btn-success btn-labeled btn-sm" href="{{ path('distributor_new') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
				<a class="btn btn-default btn-labeled btn-sm" href="{{ path('distributor') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
			</div>
		</div>
		
		<!-- search form -->
		{{ macros.searchFilter(search_form, 'distributor') }}
		<!-- end of search form -->
		
		{% if pagination.getPaginationData['totalCount'] > 0 %}
			<div id="display-count" class="pull-right">
				{{ macros.paginationCount(pagination) }}
			</div>
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-2">Actions</th>
							<th class="col-md-10">{{ utils.sortableTableHeader(pagination, 'd.name', 'Name') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for entity in pagination %}
						<tr>
							<td class="actions">
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAListIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('distributor_show', {'id':entity.id}) }}">{{ FAListIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('distributor_edit', { 'id': entity.id }) }}">{{ FAListIcon('pencil') }} Edit</a></li>
										{{ macros.changeStatus('distributor_confirm_change_status', entity) }}
										{{ macros.delete('distributor_confirm_delete', entity) }}
									</ul>
								</div>
							</td>
							<td><a href="{{ path('distributor_show', { 'id' : entity.id }) }}">{{ entity.name }}</a>{{ entity|renderTags }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
				{{ knp_pagination_render(pagination) }}
			</div>	
		{% else %}
			<div class="alert">
				No results found.
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}