{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Settings</li>
<li><a href="{{ path('distributor') }}">Distributors</a></li>
<li class="active">New</li>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>{{ FAIcon('cube', 'page-header-icon') }} New Distributor</h1>
</div>

{% if form_errors(form) is not empty %}
	{{ form_errors(form) }}<br/>
{% endif %}

{{ form_start(form, {'action': path('distributor_create'), 'method': 'POST', 'attr' : { 'class' : 'form-horizontal', 'novalidate' : 'novalidate' } }) }}
	{{ bootstrap_set_style('horizontal') }}
	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.name) }}
			
			<div class="form-group form-actions">
				<div class="col-lg-offset-4 col-lg-10">
					{{ form_widget(form.save) }}
					<a href="{{ path('distributor') }}" class="btn btn-outline">Back</a>
				</div>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock content %}