{% extends 'CICoreBundle::layout.html.twig' %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block breadcrumbs %}
<li>Reports</li>
<li class="active">UPPER MANAGEMENT Report</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		
            
{#            page headers#}


	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(function(){
	$( ".input-group.date" ).datepicker({
		changeMonth: true,
		changeYear: true,
		autoclose: true, 
		todayHighlight: true,
	});
});
</script>
{% endblock %}