<div class="page-header">
    <h1>{{ FAIcon('user') }} Edit {{ entity.name }}</h1>
</div>

{% if form_errors(edit_form) is not empty %}
<div class="panel">
	<div class="panel-body">
		{{ form_errors(edit_form) }}
	</div>
</div>
{% endif %}

{{ form_start(edit_form, {'action': path('user_edit', { 'id' : entity.id }), 'method': 'PUT', 'attr': {'class': 'form-horizontal fos_user_profile_edit', 'novalidate' : 'novalidate' } }) }}
	<div class="row">
		{{ bootstrap_set_style('horizontal') }}
		{{ bootstrap_set_label_col(4) }}
		<div class="col-sm-12">
			 <div class="row">
                <div class="col-sm-5">
					{{ form_row(edit_form.firstName) }}
					{{ form_row(edit_form.lastName) }}
					{{ form_row(edit_form.gender) }}
					{{ form_row(edit_form.birthDate) }}
					{{ form_row(edit_form.contactNumber) }}
                </div>
    			<div class="col-sm-5">
					{{ form_row(edit_form.username) }}
					{{ form_row(edit_form.email) }}
					{{ form_row(edit_form.formRole) }}
    			</div>
	    	</div>
			
			<div class="row">
			    <div class="col-sm-12">
			        <div class="form-actions">
			        	<button type="submit" class="btn btn-primary submit-button" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" data-loading-text="Updating...">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
		               	<a href="{{ path('user_show', {"id":entity.id}) }}" class="btn btn-default btn-outline">Back</a>
		        	</div>
			    </div>
			</div>
	    </div>	
	</div>
{{ form_rest(edit_form) }}