{% extends 'CICoreBundle::layout.html.twig' %}

{% block breadcrumbs %}
<li>Admin</li>
<li class="active"><a href="{{ path('user') }}">Users</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
	    <div class="page-header">
	        <div class="row">
	            <div class="col-xs-6 col-sm-6">
    	        <h1>{{ FAIcon('user') }} Users</h1>
    	        </div>
    	        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                    <div class="pull-right">
                		<a class="btn btn-success btn-labeled btn-sm" href="{{ path('fos_user_registration_register') }}">{{ FAIcon('plus', 'btn-label') }} Add New</a>
                		<a class="btn btn-default btn-labeled btn-sm" href="{{ path('user') }}">{{ FAIcon('th-large', 'btn-label') }} List All</a> 
                    </div>
                </div>
            </div>
	    </div>
	    
	    <!-- search form -->
		<div class="row search-filters">
			{{ form_start(search_form, {'action': path('user'), 'method': 'GET', 'attr': {'class': 'form-horizontal'} }) }}
				{{ bootstrap_set_style('horizontal') }}
				<div class="col-md-5">
					{{ form_row(search_form.name) }}
					{{ form_row(search_form.role) }}
					{{ form_row(search_form.search) }}
				</div>
			{{ form_end(search_form) }}
		</div>
		<!-- end of search form -->
	
	    {% if pagination.getPaginationData['totalCount'] > 0 %}
	        <div id="display-count" class="pull-right">
    			{{ macros.paginationCount(pagination) }}
    		</div>        		
    		<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th class="col-md-1">Actions</th>
						    <th class="col-md-1">Access</th>
						    <th class="col-md-2">Name</th>
						    <th class="col-md-2">Roles</th>
						    <th class="col-md-2">Email</th>	
							<th class="col-md-2">Contact Number</th>
						</tr>
			        </thead>
			        <tbody>
			        {% for entity in pagination %}
						<tr>
							<td>
								<div class="btn-group btn-group-sm">
									<button  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">{{ FAIcon('cog') }}</button>
									<ul class="dropdown-menu">
										<li><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ FAIcon('search-plus') }} View</a></li>
										<li><a href="{{ path('user_edit', { 'id': entity.id }) }}">{{ FAIcon('pencil') }} Edit</a></li>
										<li><a href="{{ path('user_login_history', { 'id': entity.id }) }}">{{ FAIcon('clock-o') }} Login History</a></li>
										<li class="divider"></li>
										{% if entity.enabled %}
											<li><a href="{{ path('user_manage_access', { 'id': entity.id, 'access' : constant('CI\\CoreBundle\\Entity\\User::ACCESS_DEACTIVATE') }) }}">{{ icon('remove') }} Deactivate</a></li>
										{% else %}
											<li><a href="{{ path('user_manage_access', { 'id': entity.id, 'access' : constant('CI\\CoreBundle\\Entity\\User::ACCESS_REACTIVATE') }) }}">{{ FAIcon('check') }} Reactivate</a></li>
										{% endif %}
										{% if is_granted('ROLE_SUPER_ADMIN') and app.user.id != entity.id %}
											<li><a href="{{ path('dashboard') }}?_switch_user={{ entity.username }}">{{ icon('retweet') }} Switch to {{ entity.username }}</a></li>
										{% endif %}
									</ul>
								</div>
							</td>
							 <td>
				            	{% if entity.enabled %}
									<span class="label label-success">Enabled</span>
								{% else %}
									<span class="label label-important">Disabled</span>
								{% endif %}
				            </td>
							<td>
								<a href="{{ path('user_show', { 'id' : entity.id }) }}">{{ entity.firstName }} {{ entity.lastName }}</a>
								{% if entity.createdAt|date('m/d/Y') == date('now')|date('m/d/Y') %}
									{{ label_warning('New') }}
								{% endif %}
								{% if entity.updatedAt and entity.updatedAt|date('m/d/Y') != entity.createdAt|date('m/d/Y') and entity.updatedAt|date('m/d/Y') == date('now')|date('m/d/Y') %}
									{{ label_warning('Updated') }}
								{% endif %}
							</td>
						    <td>
						    	{% trans_default_domain "roles" %}
						    	{% set roles = '' %}
							    {% for role in entity.roles if role != "ROLE_USER" %}
{# 							    	{% set roles = roles ~ ', ' ~ role[5:]|replace({'_': ' '})|title%}#}
							    	{% set roles = roles ~ ', ' ~ role|trans %}
							    {% endfor %}
							    {{ roles|trim(',') }}
							</td>
				            <td>{{ entity.email }}</td>
				            <td>{{ entity.contactNumber }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="pull-right">
			    {{ knp_pagination_render(pagination) }}
			</div>
		{% else %}
		<div class="alert">
			No results found.
		</div>
		{% endif %}			
	</div>
</div>
{% endblock %}