{% extends '::base.html.twig' %}
{% import 'CICoreBundle::utils.html.twig' as utils %}
{% import 'CIInventoryBundle:Misc:macros.html.twig' as macros %}

{% block title %}ISCI{% endblock %}

{% block body %}
<div id="main-wrapper">
	<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    	<!-- Main menu toggle -->
    	<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>
    	
    	<div class="navbar-inner">
    		<!-- Main navbar header -->
    		<div class="navbar-header">
    			<!-- Logo -->
    			<a href="{{ path("dashboard") }}" class="navbar-brand">
{#     				<div><img src="{{ asset('assets/img/logo-one.png') }}" /></div>#}
    				ISCI
    			</a>
    
    			<!-- Main navbar toggle -->
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
    
    		</div> <!-- / .navbar-header -->
    
    		<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
    			<div>
    				
    				<div class="right clearfix">
    					<ul class="nav navbar-nav pull-right right-navbar-nav">
    						<li class="dropdown">
    							<a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
{#     								<img src="{{ asset("assets/img/1.jpg") }}" alt="">#}
    								{{ FAIcon('user') }} <span>{{ app.user.getName }}</span>
    							</a>
    							<ul class="dropdown-menu">
    								{% if is_granted('ROLE_ADMIN') %}
    									<li><a href="{{ path('fos_user_registration_register') }}">{{ FAIcon('user-plus') }}&nbsp;&nbsp;User Registration</a></li>
    									<li><a href="{{ path('user') }}">{{ FAIcon('users') }}&nbsp;&nbsp;List Users</a></li>
    									<li class="divider"></li>
    								{% endif %}
    								<li><a href="{{ path('fos_user_profile_show') }}">{{ FAIcon('list-ul') }}&nbsp;&nbsp;Profile</a></li>
    								{# <li><a href="#">{{ icon('cog') }}&nbsp;&nbsp;Account Settings</a></li> #}
    								{% if is_granted('ROLE_ADMIN') %}
    									<li><a href="{{ path('activitylog') }}">&nbsp;{{ FAIcon('info') }}&nbsp;&nbsp;&nbsp;Activity Log</a></li>
    								{% endif %}
    								<li class="divider"></li>
    								<li><a href="{{ path('fos_user_security_logout') }}">{{ icon('off') }}&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
    								{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
    									<li class="divider"></li>
    									<li><a href="{{ path('user') }}?_switch_user=_exit">{{ icon('retweet') }}&nbsp;&nbsp;Back to Admin Account</a></li>
    								{% endif %}
    							</ul>
    						</li>
    					</ul> <!-- / .navbar-nav -->
    				</div> <!-- / .right -->
    			</div>
    		</div> <!-- / #main-navbar-collapse -->
    	</div> <!-- / .navbar-inner -->
    </div> <!-- / #main-navbar -->
    <!-- /2. $END_MAIN_NAVIGATION -->
    	
    <div id="main-menu" role="navigation">
        <div id="main-menu-inner">
            <ul class="navigation">
                <li><a href="{{ path("dashboard") }}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a></li>
    		    
    		    {% if is_granted('ROLE_IT_ACCOUNT') %}
    		    	<li><a href="{{ path('store') }}">{{ FAIcon('home', 'menu-icon')}} <span class="mm-text">Branches</span></a></li>
    		    	<li><a href="{{ path('device') }}">{{ FAIcon('mobile', 'menu-icon')}} <span class="mm-text">Devices</span></a></li>
    		    {% endif %}
    			
    			{% if is_granted('ROLE_ADMIN') %}
	    			<li class="mm-dropdown mm-dropdown-root">
	    			    <a href="#">{{ FAIcon("shopping-cart", "menu-icon") }}<span class="mm-text">Inventory</span></a>
	    			    <ul class="mmc-dropdown-delay animated fadeInLeft">
	    				    <li><a href="{{ path('category') }}"><span class="mm-text">Categories</span></a></li>
	    				    <li><a href="{{ path('product') }}"><span class="mm-text">Products</span></a></li>
	    			    </ul>		
	    			</li>
                         {% endif %}
    			
    			{% if is_expr_granted("hasAnyRole('ROLE_RSM', 'ROLE_CDM', 'ROLE_TL')") %}
                            <li><a href="{{ path('upperm') }}">{{ FAIcon("file", "menu-icon") }}<span class="mm-text">UM Store Visit Report</span></a></li>
    			
	    			<li class="mm-dropdown mm-dropdown-root">
	    			    <a href="#">{{ FAIcon("folder-open", "menu-icon") }}<span class="mm-text">Reports</span></a>
	    			    <ul class="mmc-dropdown-delay animated fadeInLeft">
	    			    	<li><a href="{{ path('get_download_osa') }}"><span class="mm-text">Stock Availability Report</span></a></li>
	    			    	<li><a href="{{ path('inventoryreport') }}"><span class="mm-text">Inventory Report</span></a></li>
	    			    	<li><a href="{{ path('storereport_summaryosa') }}"><span class="mm-text">Summary Report</span></a></li>
	    			    	<li><a href="{{ path('get_core_average_report') }}"><span class="mm-text">Core Average Report</span></a></li>
	    			    	<li><a href="{{ path('get_frequency_vs_ok_report') }}"><span class="mm-text">Total Chain Average Report</span></a></li>
	    			    	<li><a href="{{ path('storereport_branchosa') }}"><span class="mm-text">Branch Report</span></a></li>
{#                                        <li><a href="{{ path('umreport') }}"><span class="mm-text">Upper Management Report</span></a></li>#}
	    				</ul>
	    			</li>
    			{% endif %}
    			
    			{% if is_granted('ROLE_IT_ACCOUNT') %}
    			<li class="mm-dropdown mm-dropdown-root">
    			    <a href="#">{{ FAIcon("cogs", "menu-icon") }}<span class="mm-text">Settings</span></a>
    			    <ul class="mmc-dropdown-delay animated fadeInLeft">
    			    	<li><a href="{{ path('mobileapp_show') }}"><span class="mm-text">Mobile App Settings</span></a></li>
    			    	{% if is_granted('ROLE_ADMIN') %}
	    				    <li><a href="{{ path('distributor') }}"><span class="mm-text">Distributors</span></a></li>
	    				    <li><a href="{{ path('chain') }}"><span class="mm-text">Chains</span></a></li>
	    				    <li><a href="{{ path('region') }}"><span class="mm-text">Regions</span></a></li>
	    				    <li><a href="{{ path('storetype') }}"><span class="mm-text">Branch Types</span></a></li>
    			    	{% endif %}
    			    </ul>		
    			</li>
    			{% endif %}
    		</ul>
    	</div>
    </div>
    
    <div id="content-wrapper">
        <div id="pa-page-alerts-box">
        {% for key, messages in app.session.flashbag.all() %}
    		{% for message in messages %}
    			<div class="alert alert-page pa_page_alerts_default alert-{{ key }} alert-dark" data-animate="true">
    				{{ message|trans({}, 'FOSUserBundle') }}
    				<button type="button" class="close" data-dismiss="alert">×</button>
    			</div>
    		{% endfor %}
    	{% endfor %}
    	</div>
    	{% if block('breadcrumbs') %}
    	<ul class="breadcrumb breadcrumb-page">
    	    {% block breadcrumbs %}{% endblock breadcrumbs %}
    	</ul>
    	{% endif %}
    	
    	{% block content %}{% block fos_user_content %}{% endblock fos_user_content %}{% endblock content %}
    	
    	<div id="main-menu-bg"></div>
    </div>
    <!-- Footer -->
    <div id="footer" class="text-center text-default">{% block footer %}<p><small>&copy; Copyright 2015 ISCI. All rights reserved.</small></p>{% endblock footer %}</div>
</div> <!-- main wrapper -->
{% endblock body %}

{% block layout_scripts %}
<script type="text/javascript">
	var init = [];
// 	init.push(function () {
// 		$('#main-navbar-notifications').slimScroll({ height: 250 });
// 		$('#main-navbar-messages').slimScroll({ height: 250 });
// 	});

	window.PixelAdmin.start(init);
</script>
<script src="{{ asset('assets/js/sidebar.js') }}"></script>

{% block javascripts %}{% endblock %}
{% endblock %}