<div class="page-header"></div>
<div class="app-container">
	
	<h1 class="greeting">Hi {{ firstName }}</h1>
	<div class="option-btn-container">
		<button class="btn option-btn" ng-click="onSettings()">
			<div class="option-side">
					<span class="glyphicon glyphicon glyphicon-cog">
					</span>
				</div>
			Settings
		</button>
	</div>
	<div class="grid-list">
		<button class="btn grid-btn create-report-btn " ng-click="onCreateReport()">
			<span class="glyphicon glyphicon-plus"></span>
			Gumawa ng Bagong Report
			<div class="list-side">
				<span class="glyphicon glyphicon-menu-right">
				</span>
			</div>
		</button>
	</div>

	<div class="header dashboard-header">{{ noPending ? 'No' : ''  }} Pending Reports <button ng-disabled="isUploadingAll" class="btn upload-all-btn" ng-hide="noPending" ng-click="onUploadAll()">
						{{uploadStatus}}
					</button></div>
	<ul class="list-group grid-list list-reports">
		<li class="list-group-item" ng-repeat="report in reports | syncedFor:'test' | orderBy:'-reportDate' | limitTo: 20">
			<button class="btn grid-btn report-view" ng-click="onViewReport(report)" ng-swipe-right="onTryingUpload(report);" >
				<span class="glyphicon glyphicon-file" style="float: left;"></span>
				<div class="report-details">
					{{ report.reportDate | date:'MMM dd' }} {{report.storeName}} 
				</div>
				<div class="sync-container"><img ng-src="images/{{ report.synced == 1 ? 'uploading-icon.png' : 'pending-icon.png'  }}"></div>
				<div class="list-side">
					<span class="glyphicon glyphicon-menu-right">
					</span>
				</div>
			</button>
		</li>
	</ul>
	<button class="footer btn grid-btn all-report-btn" ng-click="openCalendar($event)">Tignan Lahat Ng Reports</button>
</div>

<div id="popupOverlay" class="popup-overlay" ng-show="opened" ng-click="onPickerClosed($event)">
	<div class="reportpicker-container" ng-show="openedReportList">
		<ul class="list-group grid-list list-reports">
			<li class="list-group-item" ng-repeat="report in reports | reportForDate: pickedDate">
				<button class="btn grid-btn report-view" ng-click="onViewReport(report)">
					<span class="glyphicon glyphicon-file" style="float: left;"></span>
					<div class="report-details">
						{{ report.reportDate | date:'MMM dd' }} {{report.storeName}} 
					</div>
					<div class="sync-container"><img ng-src="images/{{ report.synced == 2 ? 'synced-icon.png' : report.synced == 3 ? 'duplicate-icon.png' : 'pending-icon.png' }}"></div>
					<div class="list-side">
						<span class="glyphicon glyphicon-menu-right">
						</span>
					</div>
				</button>
			</li>
		</ul>
	</div>

	<div class="datepicker-container" >
		<datepicker ng-show="!openedReportList"style="z-index: 2000;" show-weeks="false" date-disabled="disableDate(date, mode)" ng-change="onDatePicked()" ng-model="dt" show-weeks="true" class="well well-sm"></datepicker>
	</div>
</div>