<div class="page-header"></div>
<div class="app-container">
	<h1 class="greeting">Hi {{ firstName }}</h1>

	<div class="option-btn-container">
		<button class="btn option-btn" ng-click="onDashboard()">
			<div class="option-side">
					<span class="glyphicon glyphicon glyphicon-list">
					</span>
				</div>
			Home
		</button>
	</div>
</div>

<div id="popupOverlay" class="popup-overlay" ng-show="opened" ng-click="onPickerClosed($event)">
	<div class="datepicker-container">
		<datepicker style="z-index: 2000;" show-weeks="false" ng-change="onDatePicked()" max-date="maxDate" ng-model="dt" format-year="yyyy" format-month="mm" format-day="dd" show-weeks="true" class="well well-sm"></datepicker>
	</div>
</div>
