<div class="page-header"></div>
<div class="app-container"  ng-swipe-right="onShowCategory()">
	<div class="back-btn-container">
		<button class="btn option-btn" ng-click="onBack()">
			<div class="option-side">
				<span class="glyphicon glyphicon-menu-left">
				</span>
			</div>
			Back
	</div>
<div class="product-quantity input-group" ng-show="quantityShow" >
	<input type="number" class="quality-input form-control" placeholder="Quantity" ng-model="currentProduct.count" show-focus="quantityShow">
	<button class="btn" ng-click="onSaveQuantity(currentProduct)">
		SAVE
	</button>
</div>

<div class="detail-container" ng-click="onShowCategory()">
	{{dt | date:'MMMM dd, yyyy' }}
	<h1>{{ storeName }}</h1>
	<div class="show-category-container"><button class="btn show-category-btn">Show Category</button><div class="product-category">{{ pickedCategory == "" ? "All PRODUCTS" : pickedCategory}} ({{categoryCount}})</div></div>
</div>
<div class="report-container" ng-click="showCategory = false">
	<tabset class="product-tabs" ng-show="showCategory">
		<tab ng-repeat="tab in tabs" data-ng-init="onCategoryCount(tab)" vertical="true" ng-click="onPickCategory(tab)" heading="{{tab.title + ' (' + tab.count + ')'}}" active="tab.active" disabled="tab.disabled" select="onSelectTab(tab)">
			
	    </tab>

	  </tabset>
	  <ul id="listProducts" class="list-group list-products">
			<li class="list-group-item" ng-repeat="product in productsList | categoryFor:pickedCategory | orderBy:'sname'">
				<button class="product-status" ng-swipe-left="onShowQuantity(product)" ng-click="onToggleProduct(product)"> {{ product.sname }}
					<div class="list-side {{ product.available == undefined ? 'product-not-selected' : product.available ? 'check' : 'uncheck'  }}">
						<span class="glyphicon glyphicon glyphicon-{{ product.available == undefined ? 'minus' :product.available ? 'ok' : 'remove'  }}">
						</span>
					</div>
					<button class="btn quantity-btn" ng-click="onShowQuantity(product)">
						QUANTITY <br> ({{product.count}})
					</button>
				</button>
			</li>
		</ul>
	
<div>
	<span>Progress: {{currentProductCount + '/' + totalProductCount }}</span>
</div>
</div>
<div ng-hide="{{disable}}" class="option-btn-container">
	<button class="btn option-btn finish" ng-click="onNext()">
		{{progressStatus}}
	</button>
</div>
</div>

<div class="popup-overlay" style="z-index:1050" ng-show="isFinishing || quantityShow"></div>