<div class="page-header"></div>
<div class="app-container" ng-swipe-left="onShowPin()" ng-swipe-right="onHidePin()">
	<div class="back-btn-container">
		<button class="btn option-btn" ng-click="onBack()">
			<div class="option-side">
				<span class="glyphicon glyphicon-menu-left">
				</span>
			</div>
			Back
		</button>
	</div>
	<br>
	<br>
	<button class="btn" ng-click="onLogout()">LOGOUT</button>
	<br>
	<br>
	<div class="app-settings">App version: {{appVersion}}</div>
	<div class="app-settings">Data version: {{dataVersion}}</div>
	<div ng-show="idShow" class="app-settings device-id">Device id: {{deviceID}}</div>
	<!--<div class="app-settings device-id">Connected: {{online}}</div> -->
	<br>
	<div ng-show="pinShow">
		<input type="number" placeholder="PIN" class="form-control input-data" ng-model="pin">
		<br>
		<button class="btn btn-data"  ng-click="viewLogs()">
			VIEW LOGS
		</button>
		<button class="btn btn-data"  ng-click="sendLogs()">
			SEND LOGS
		</button>
		<button class="btn btn-data"  ng-click="onShowDeviceID()">
			SHOW DEVICE ID
		</button>
		<button class="btn btn-data"  ng-click="onDeleteDatabase()">
			ERASE APPLICATION DATA
		</button>
		<div>{{sqLite.storeCount}} / {{stores.length}}</div>
		<br>
	</div>

	<div id="p2_logs"><table id="p2_logsTable" border="1" cellpadding="5" cellspacing="0" ></table></div>
	<div id="p2_logsBtn" ng-click="hideLogs()"><span style="display:table-cell; vertical-align:middle">EXIT</span></div>
	<div id="p2_logsPadding"></div>
</div>